body{
    background-image:url(foto.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    height: 100vh;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: larger;
}

h1{
    color: goldenrod;
    size: 40px; 
    font-style: bold;
}

#message-el{
    font-style: italic;
    
}

button{
    color: green;
    background-color: goldenrod;
    cursor: pointer;
    text-decoration: none;
    border: none;
    width: 14rem;
    height: 3rem;
    font-weight: bold;
    font-size: larger;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}